p {
  letter-spacing: 0.05em;
}

.main__page--title {
  color: #fff;
  text-shadow: none;
  font-weight: 600;
  animation: changeColor 12s infinite 3s;
  /* transition: all 3s; */
  font-size: 8rem;
}

.company-logo {
  border-radius: 50%;
  animation: changeLogoColor 12s infinite 3s;
  transition: all 3s;
  z-index: 1;
}

#portfolio img {
  width: 100%;
}

.social-icons {
  margin: 15px;
  text-decoration: none;
  width: 32px;
  height: auto;
}

@keyframes changeColor {
  25% {
    text-shadow: 0 5px 10px green;
  }
  50% {
    text-shadow: 0 5px 10px yellow;
  }
  75% {
    text-shadow: 0 5px 10px red;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes changeLogoColor {
  25% {
    background-color: rgba(52, 128, 33, 0.2);
  }
  50% {
    background-color: rgba(231, 255, 13, 0.2);
  }
  75% {
    background-color: rgba(235, 55, 5, 0.2);
  }
  100% {
    background-color: none;
  }
}
