.main__page--title {
  color: #fff;
  text-shadow: 0 2px 15px #fff;
  font-weight: 600;
  animation: changeColor 12s infinite 3s;
  transition: all 3s;
  font-size: 8rem;
}

.company-logo {
  border-radius: 50%;
  animation: changeLogoCol1or 12s infinite 3s;
  transition: all 3s;
  z-index: 1;
}

@keyframes changeColor {
  25% {
    color: #348021;
    text-shadow: 0 2px 15px#348021;
  }
  50% {
    color: #e7ff0d;
    text-shadow: 0 2px 15px #e7ff0d;
  }
  75% {
    color: #eb3705;
    text-shadow: 0 2px 15px #eb3705;
  }
  100% {
    color: #fff;
    text-shadow: 0 2px 15px #fff;
  }
}

@keyframes changeLogoColor {
  25% {
    background-color: rgba(52, 128, 33, 0.2);
  }
  50% {
    background-color: rgba(231, 255, 13, 0.2);
  }
  75% {
    background-color: rgba(235, 55, 5, 0.2);
  }
  100% {
    background-color: none;
  }
}
