<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Sistema de gerenciamento de tempo de semáforos de trânsito." />
    <meta name="author" content="Iglan Monteiro de Miranda Cardeal" />
    
    <link rel="shortcut icon" href="img/favicon.png" id="velpac" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Signika:400,600" rel="stylesheet"> 

    <title>VELPAC</title>


    <!-- Plugin CSS -->
    <link
      href="vendor/magnific-popup/magnific-popup.css"
      rel="stylesheet"
    />

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet" />

    <link href="css/home/home.css" rel="stylesheet" />