<section class="page-section text-white my-5" id="documentation">
  <div class="container text-center pt-5">
    <h2 class="mb-4">Documentação e Arquivos para Download</h2>
    <p>
      Você pode baixar e acessar os arquivos relevantes sobre o projeto como
      o relatório em PDF, esquemático do arduino e imagens do projeto em
      formato '.zip'.
    </p>
    <a
      class="btn btn-secondary btn-xl"
      href="/pdf/documentacao"
      target="_blank"
      >Baixar Relatório</a
    >
    <a
      class="btn btn-secondary btn-xl"
      href="/pdf/documentacao"
      target="_blank"
      >Esquemático Arduino</a
    >
    <a
      class="btn btn-secondary btn-xl"
      href="/pdf/documentacao"
      target="_blank"
    >
      Imagens do Projeto</a
    >
  </div>
</section>