<section class="page-section agradecimento mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center" id="contact">
        <h2 class="mt-0 text-white">A VELPAC agradeçe a sua visita.</h2>
        <p class="text-white-75 mb-5">
          Entre em contato conosco pelo telefone ou e-mail para solicitação
          dos nossos serviços.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 text-white">Telefone</i>
        <div class="text-white">+55 (91) 3255-0149</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-white">E-mail</i>
        <!-- PAGINA DE ENVIO DE EMAIL -->
        <a class="d-block text-uppercase text-white" href="/"
          >velpac.company@gmail.com</a
        >
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-8 offset-sm-2 text-white-75 text-center">
        <h3>
          Ou venha visitar nosso escritório e marque uma reunião:
        </h3>
        <p class="text-white">
          Boulevard Shopping <br />
          Av. Visc. de Souza Franco, 776 - Reduto, Belém - PA, 66053-000
        </p>
        <p>
          <a
            style="display: block; overflow: hidden; width: 100%;"
            target="_blank"
            href="https://www.google.com.br/maps/place/Shopping+Boulevard+Bel%C3%A9m/@-1.4460862,-48.4898755,21z/data=!3m1!5s0x92a48e9796477547:0x55d790a56afe1e75!4m12!1m6!3m5!1s0x0:0x2c38f118dd29a3!2sBoulevard+Shopping+Bel%C3%A9m!8m2!3d-1.4458279!4d-48.4891251!3m4!1s0x92a48f6d999a0ce5:0x64c9216aa0eeb7b5!8m2!3d-1.4459414!4d-48.4898812"
            ><img
              src="img/general/shoppingbelem.png"
              class="rounded img-fluid col-xs-12 col-sm-12"
          /></a>
        </p>
      </div>
    </div>
  </div>
</section>