<section class="page-section" id="membros">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img
              class="card-img-top img-fluid"
              src="img/equipe/arthur.webp"
              alt="Arthur"
            />
            <div class="card-body">
              <h4 class="card-title">Arthur</h4>
              <p class="card-text">
                Planejamento Urbano
              </p>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#arthur"
              >
                Ver Perfil
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img
              class="card-img-top img-fluid"
              src="img/equipe/elizabeth.webp"
              alt="Elizabeth"
            />
            <div class="card-body">
              <h4 class="card-title">Elizabeth</h4>
              <p class="card-text">
                Planejamento Urbano
              </p>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#elizabeth"
              >
                Ver Perfil
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img
              class="card-img-top img-fluid"
              src="img/equipe/marcos.webp"
              alt="Marcos"
            />
            <div class="card-body">
              <h4 class="card-title">Marcos</h4>
              <p class="card-text">
                Design e Engenheiro Estrutural
              </p>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#marcos"
              >
                Ver Perfil
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img
              class="card-img-top img-fluid"
              src="img/equipe/cardeal.webp"
              alt="Iglan Cardeal"
            />
            <div class="card-body">
              <h4 class="card-title">Cardeal</h4>
              <p class="card-text">
                Desenvolvedor Web Full Stack
              </p>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#cardeal"
              >
                Ver Perfil
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 mb-12">
          <h3 class="text-white">
            Sobre a equipe...
          </h3>
          <p class="text-white-75 text-justify">
            Para a elaboracao e execucao do projeto, foi composto um time de 4 desenvolvedores onde cada um dos foi responsavel por uma tarefa especifica do projeto. Todos estes integrantes estabeleceram plena comunicacao sobre os deveres e responsabilidades e sincronia no momento de integracao dos componentes que moldam o projeto final.
          </p>
        </div>
      </div>
    </div>
  </section>