
<section class="py-5 text-white" id="solucao">
  <div class="container">
    <h1 class="display-4 text-center pb-5">
      Como Funciona o Sistema da VELPAC?
    </h1>
    <div class="row">
      <div class="col text-justify">
        <p>
          O gerenciamento do tempo de semáforo se dar através de um interface de usuário em uma aplicação web (site de gerenciamento de semáforos da velpac - SGS) onde, apos o administrador se autenticar ele tera acesso ao sistema onde sera possível determinar o tempo das rotinas, cadastrar um semáforo, editar tempo limites de rotinas e adicionar novos administradores ao sistema.
        </p>
        <p>
          Para demonstrar melhor, foi criado um protótipo em escala reduzida, onde temos uma maquete que representa um cruzamento de uma via com uma faixa de pedestre. Logo a seguir, tem disponibilizado imagens e especificações do componentes usados no projeto.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="text-center py-3">
          O Sistema de Gerenciamento de Semaforos
        </h2>
      </div>
      <div class="col-md-6 text-justify">
        <p>
          O avanço na informatização e a automação de controle, trazem
          evoluções nos métodos tradicionais utilizados atualmente. O A
          elaboração de sistema de controle computadorizado centralizado, no
          qual um programa comanda diretamente o planejamento dos semáforos,
          por meio de pré programação, indicando a cada instante qual a
          situação luminosa que deve ocorrer. Esta é a tecnologia oferecida
          nos serviços da <em>Velpac</em>, onde através de uma interface web
          (site) gerenciada por administradores, sera feita o controle e o
          gerenciamento dos tempos de cada semáforo conectado ao sistema,
          permitindo assim a melhor rotina para atender a demanda de trafego
          de veiculos e pedestres, otimizando o fluxo de transito de acordo
          com a necessidade do momento.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <img
          class="img-fluid mb-3 border border-info rounded"
          src="img/general/ped-cel.webp"
        />
      </div>
    </div>
  </div>
</section>