<section id="portfolio" class="py-5">
  <h1 class="display-4 text-center text-white">
    Imagens do Projeto
  </h1>
  <div class="container-fluid p-0 text-white">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/arduino.webp">
          <img class="img-fluid" src="img/projeto/arduino.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Arduino Uno
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/schema.webp">
          <img class="img-fluid" src="img/projeto/schema2.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Schema do Projeto Elétrico
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/circuitos.webp">
          <img class="img-fluid" src="img/projeto/circuitos00.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Circuito Elétrico
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/proto3.webp">
          <img class="img-fluid" src="img/projeto/proto3.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/proto2.webp">
          <img class="img-fluid" src="img/projeto/proto2.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/proto1.webp">
          <img class="img-fluid" src="img/projeto/proto1.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/components.webp">
          <img class="img-fluid" src="img/projeto/components.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Os Componentes Usados para o Protótipo
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/sgs.png">
          <img class="img-fluid" src="img/projeto/sgs.png" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Site de Gerenciamento de Semáforos
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/projeto/arduino.webp">
          <img class="img-fluid" src="img/projeto/arduino.webp" alt="" />
          <div class="portfolio-box-caption p-3">
            <div class="project-category">
              Category
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>