<section class="page-section" id="services">
  <div class="container-fluid">
    <h2 class="text-center mt-0 text-uppercase text-white">
      Ao seu dispor
    </h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center bg-dark pr-5">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem text-primary mb-4"></i>
          <h3 class="h4 mb-2 text-white">Deseja algo mais?</h3>
          <p class="text-white-75 text-justify mb-0">
            O sistema da <em>VELPAC</em> é facilmente escalável, para atender os diversos requisitos que você possa ter. 
            Escalável para gerenciar semáforos de 2, 3, 4 ou quantos tempos forem desejados. 
            Redundância para os semáforos. 
            Prototipação para semáforos. "Como assim?" - Podemos analizar onde os semáforos serão aplicados para atender melhor o ambiente inserido.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center bg-dark pl-5">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
          <h3 class="h4 mb-2 text-white">Tecnologias</h3>
          <p class="text-white-75 text-justify mb-0">
            <a href="https://nodejs.org/en/" style="text-decoration: none">NodeJS</a> e <a href="https://www.mongodb.com/" style="text-decoration: none">MongoDB</a>, duas das tecnologias mais usadas atualmente que permitem gerenciar uma enorme quantidade de semáforos de uma forma assíncrona com muito pouco uso de hardware, reduzindo consideravelmente o custo de servidor, além é claro de ser facilmente escalável de acordo com a necessidade.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center bg-dark pr-5">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2 text-white">Nossos Serviços</h3>
          <p class="text-white-75 text-justify mb-0">
            Oferecemos a prototipação do microcontrolador e codificação do Arduino de acordo com a necessidade. <br>
            Elaboração, desenvolvimento e manutenção do site gerenciador de semáforos da sua região. <br>
            Suporte a escalabilidade, tanto do site gerenciador quanto as configurações dos microcontroladores.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center bg-dark pl-5">
        <div class="mt-5">
          <i class="fas fa-4x fa-heart text-primary mb-4"></i>
          <h3 class="h4 mb-2 text-white">Como Entrar em Contato?</h3>
          <p class="text-white-75 text-justify mb-0">
            Entre em contato pelo nosso e-mail para lhe informarmos melhor dos nossos serviços. <br>
            Telefone, onde você pode agendar uma reunião em nosso escritório. <br>
            Venhar nos visitar! Temos escritório neste <a href="#velpac-endereco" style="text-decoration: none">endereço</a> e compareça para nos conheçermos melhor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>