<section class="page-section bg-red" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="text-white mt-0">Quem Somos</h2>
        <hr class="divider light my-4" />
          <div class="text-justify">
            <p class="text-white-75 mb-4">
              A Velpac &#8482; e uma empresa que fornece servicos automatizados para o gerenciamento remoto de semaforos atraves de uma aplicacao web. 
              O sistema Velpac permite o controle e gerenciamento remoto
              de uma rede de semaforos ligados, controlando o tempo de rotinas
              para cada semaforo, tudo com o intuito de dinamizar o fluxo de
              veiculos na cidade de forma rapida e com minimo de trabalho.
              Altere rotinas e tempo de prioridades em um cruzamento e faixa de
              pedestre de forma rapida, personalizada e automatica, para que as pessoas estejam sempre em movimento, para que sua cidade
              continue evoluindo.
            </p>
            <p class="text-white-75 mb-4">
              Para o site de gerenciamento remoto do sistema de semaforos, o
              site usa as mais eficientes e modernas tecnologias Web. O site
              escrito em NodeJS e integrado com banco de dados MongoDB, permite
              um sistema robusto, potente e eficiente com o minimo de custo de
              infraestrutura. Tecnologias que permitem fazer , mesmop com pouco,
              algo grandioso, oferecendo um grande custo-beneficio nos seus
              servicos, diminuindo os gastos, mao de obra minima necessaria e
              retornando grandes beneficios para todos. <br>
              Nao deixe a sua cidade parar...
            </p>
          </div>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#solucao"
          >Como Funciona?</a
          >
      </div>
    </div>
  </div>
</section>