<section id="portfolio" class="py-5">
  <h1 class="display-4 text-center text-white">
    Imagens do Projeto
  </h1>
  <div class="container-fluid p-0 text-white">
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 offset-lg-3 offset-sm-3">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/arduino.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Arduino Uno
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/schema2.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Schema do Projeto Elétrico
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/circuitos00.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Circuito Elétrico
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/proto3.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/proto2.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/proto1.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Protótipo do Arduino Montado
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/components.webp" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              Os Componentes Usados para o Protótipo
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/sgs.png" alt="" />
          <div class="portfolio-box-caption">
            <div class="project-category">
              O Site de Gerenciamento de Semáforos
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box"jpg">
          <img class="img-fluid lazyload project-img" data-src="img/projeto/prototipo-maquete.jpg" alt="" />
          <div class="portfolio-box-caption p-3">
            <div class="project-category">
              Protótipo Maquete
            </div>
            <div class="project-name">
              Imagens do Projeto
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>