<section class="page-section" style="margin-top: 150px; margin-bottom: 0; padding-bottom: 0">
  <div class="container col">
    <footer class="bg-rodape py-5">
        <div class="text-center text-white">
          <small
          >VELPAC
          <span style="font-size: 15px; text-shadow: 0 3px 5px black;"
          >&#8482;</span
          >
          <span id="data-ano-atual"> </span>
        </small>
        <br />
        <small
        >Site desenvolvido e mantido por <br />
        Iglan Cardeal</small
        >
      </div>
    </footer>
  </div>
</section>